name: Build APK Vionix Engine Final

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build Proses
        run: |
          # Buat ulang struktur android agar fresh
          flutter create . --platforms android --overwrite
          
          # Bersihkan sisa build lama
          flutter clean
          
          # Ambil dependencies
          flutter pub get
          
          # Build APK (Release mode)
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: VionixEngine-Final
          path: build/app/outputs/flutter-apk/app-release.apk
