name: Build PlayTheDarknes APK

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # Gue naikin ke versi yang diminta log lo
          flutter-version: '3.22.2' 
          channel: 'stable'

      - name: Build Project
        run: |
          flutter pub get
          flutter build apk --release
