name: Build APK Vionix Fix Asli

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: |
          # JANGAN pake flutter create lagi biar gak ketimpa demo
          # Langsung ambil bahan dan rakit
          flutter pub get
          flutter build apk --release

      - name: Ambil APK
        uses: actions/upload-artifact@v4
        with:
          name: Vionix-Engine-Asli
          path: build/app/outputs/flutter-apk/app-release.apk
