name: Build PlayTheDarknes APK

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # PAKSA PAKE VERSI TERBARU BIAR SDK COCOK
          flutter-version: '3.27.1' 
          channel: 'stable'

      - name: Build Start
        run: |
          flutter pub get
          flutter build apk --release
